<div class="section">
    <h1 class="section-title underline">Organizing Board</h1>
    <div class="avatar">

      <div class ="member">
        <div class="square"><img src="{{ "/assets/member-avatar/Ben.jpg" | relative_url }}" alt="Avatar" /></div>
        <p>Ben Peterson</p>
        <p>Post-doc</p>
        <p>University of Wisconsin–Madison, USA</p>
      </div>

      <div class ="member">
        <div class="square"><img src="{{ "/assets/member-avatar/Alyssa.jpg" | relative_url }}" alt="Avatar" /></div>
        <p>Alyssa Azaroff</p>
        <p>Post-doc</p>
        <p>Stockholm University, Sweden</p>
      </div>

      <div class ="member">
        <div class="square"><a href="https://ercapo.wixsite.com/sedadna-society/ericcapo"><img src="{{ "/assets/member-avatar/Eric.jpg" | relative_url }}" alt="Avatar" /></a></div>
        <p>Eric Capo</p>
        <p>Post-doc</p>
        <p>ICM-CSIC, Spain</p>
      </div>
  
      <div class ="member">
        <div class="square"><img src="{{ "/assets/member-avatar/Carla.jpg" | relative_url }}" alt="Avatar" /></div>
        <p>Carla Pereira Garcia</p>
        <p>PhD student</p>
        <p>ICM-CSIC, Spain</p>
      </div>
  
      <div class ="member">
        <div class="square"><a href="https://scholar.google.com.au/citations?user=-EX2aeoAAAAJ&hl=en"><img src="{{ "/assets/member-avatar/Heyu.jpg" | relative_url }}" alt="Avatar" /></a></div>
        <p>Heyu Lin</p>
        <p>PhD student</p>
        <p>The University of Melbourne, Australia</p>
      </div>
    </div>
  </div>
