---
layout: default
---

<div class="section intro">
    <p>The <b>sedimentary ancient DNA</b> (sedaDNA) has become a powerful tool in paleoecology and is now largely used to track past long-term changes in terrestrial and aquatic biodiversity. The sedaDNA scientific society aims to transmit information about current sedaDNA research, promote best practices and increase collaborations between research groups.</p>
  </div>

<div class="join-us">
  <button class="button-join" role="button" onclick="window.open('https://forms.gle/sNqK3VUjHhqUXwbq9','_blank')" type="button">Become a member</button>
  <button class="button-join" role="button" onclick="window.open('https://twitter.com/SedimentaryDNA?lang=en','_blank')" type="button">Follow our twitter</button>
  <button class="button-join" role="button" onclick="window.open('https://scholar.google.fr/citations?user=90ytJ14AAAAJ&hl=fr','_blank')" type="button">Check the literature survey</button>
</div>

<div class="section">
    <h3 class="section-title underline">Organizing Board</h3>
    <div class="avatar">

      <div class ="member">
        <div class="square"><a href="https://ercapo.wixsite.com/sedadna-society/ericcapo"><img src="{{ "/assets/board-members/Eric.png" | relative_url }}" alt="Avatar" /></div>
        <p>Eric Capo</p>
        <p>Coordinator</p>
        <p>ICM-CSIC</p>
        <p>Barcelona, Spain</p>
      </div>

      <div class ="member">
        <div class="square"><a href="https://marie-evemonchamp.weebly.com/"><img src="{{ "/assets/board-members/MarieEve.jpg" | relative_url }}" alt="Avatar" /></div>
        <p>Marie-Eve Monchamp</p>
        <p>McGill University</p>
        <p>Montréal, Canada</p>
      </div>

      <div class ="member">
        <div class="square"><a href="https://www.researchgate.net/profile/Kevin-Nota"><img src="{{ "/assets/board-members/Kevin.jpg" | relative_url }}" alt="Avatar" /></a></div>
        <p>Kevin Nota</p>
        <p>Uppsala University</p>
        <p>Uppsala, Sweden</p>
      </div>
  
      <div class ="member">
        <div class="square"><a href="https://www.researchgate.net/profile/Cecilia-Barouillet"><img src="{{ "/assets/board-members/Cecilia.jpg" | relative_url }}" alt="Avatar" /></div>
        <p>Cécilia Barouillet</p>
        <p>INRAE UMR CARRTEL</p>
        <p>Thonon-les-Bains, France</p>
      </div>
  
      <div class ="member">
        <div class="square"><ahref="https://globe.ku.dk/staff-list/?pure=en/persons/549109"><img src="{{ "/assets/board-members/Alex.jpg" | relative_url }}" alt="Avatar" /></a></div>
        <p>Alexandra Rouillard</p>
        <p>UiT</p>
        <p>Tromsø, Norway</p>
      </div>
          
      <div class ="member">
        <div class="square"><ahref="https://www.researchgate.net/profile/Kuldeep-More"><img src="{{ "/assets/board-members/Kuldeep.jpg" | relative_url }}" alt="Avatar" /></a></div>
        <p>Kuldeep More</p>
        <p>CAGT</p>
        <p>Toulouse, France</p>  
      </div>      
     
        <div class ="member">
        <div class="square"><ahref="http://www.iopan.gda.pl/projects/Dwarf/participants-7.html"{{ "/assets/board-members/Joanna.jpg" | relative_url }}" alt="Avatar" /></a></div>
        <p>Joanna Pawłowska</p>
        <p>IOPAN</p>
        <p>Sopot, Poland</p>
      </div>
     
        <div class ="member">
        <div class="square"><ahref="https://www.trishaspanbauer.com/"><img src="{{ "/assets/board-members/Trisha.jpg" | relative_url }}" alt="Avatar" /></a></div>
        <p>Trisha Spanbauer</p>
        <p>Toledo University</p>
        <p>Toledo, USA</p>
      </div>
          
       
    </div>
  </div>
