---
layout: default
---

<div class="intro">
<p>The sedaDNA scientific society aims to transmit information about current sedaDNA research, promote best practices and increase collaborations between research groups. Our research is based on the use of the sedimentary ancient DNA (sedaDNA), a tool largely used to track past long-term changes in terrestrial and aquatic biodiversity.  The society is currently composed by more than 250 members. Our members have to follow a <a href="/category/3-code.html" target="_blank">code of conduct</a>.</p>
<button class="button-join" role="button" onclick="window.open('https://forms.gle/sNqK3VUjHhqUXwbq9','_blank')" type="button">Become a member</button>
  <button class="button-join" role="button" onclick="window.open('https://forms.gle/xzqEpKZa2UmxgFMr5','_blank')" type="button">Contact us</button>

</div>

<div class="section">
<h3 class="section-title underline">Organizing Board</h3>
</div>

<div class="avatar">

<div class ="member">
<div class="square"><a href="https://ercapo.wixsite.com/sedadna-society/ericcapo" target="_blank"><img src="{{ "/assets/board-members/Eric.png" | relative_url }}" alt="Avatar" /></a></div>
<p>Eric Capo</p>
<p>Coordinator</p>
<p>ICM-CSIC</p>
<p>Barcelona, Spain</p>
</div>

<div class ="member">
<div class="square"><a href="https://marie-evemonchamp.weebly.com/" target="_blank"><img src="{{ "/assets/board-members/MarieEve.jpg" | relative_url }}" alt="Avatar" /></a></div>
<p>Marie-Eve Monchamp</p>
<p>McGill University</p>
<p>Montréal, Canada</p>
</div>

<div class ="member">
<div class="square"><a href="https://www.researchgate.net/profile/Kevin-Nota" target="_blank"><img src="{{ "/assets/board-members/Kevin.jpg" | relative_url }}" alt="Avatar" /></a></div>
<p>Kevin Nota</p>
<p>Uppsala University</p>
<p>Uppsala, Sweden</p>
</div>
  
<div class ="member">
<div class="square"><a href="https://www.researchgate.net/profile/Cecilia-Barouillet" target="_blank"><img src="{{ "/assets/board-members/Cecilia2.jpg" | relative_url }}" alt="Avatar" /></a></div>
<p>Cécilia Barouillet</p>
<p>INRAE UMR CARRTEL</p>
<p>Thonon-les-Bains, France</p>
</div>
 
</div>

<br> 

<div class="avatar">
              
<div class ="member">
<div class="square"><a href="https://globe.ku.dk/staff-list/?pure=en/persons/549109" target="_blank"><img src="{{ "/assets/board-members/Alex.jpg" | relative_url }}" alt="Avatar" /></a></div>
<p>Alexandra Rouillard</p>
<p>UiT, Tromsø, Norway</p>
</div>
          
<div class ="member">
<div class="square"><a href="https://www.researchgate.net/profile/Kuldeep-More" target="_blank"><img src="{{ "/assets/board-members/Kuldeep.jpg" | relative_url }}" alt="Avatar" /></a></div>
<p>Kuldeep More</p>
<p>CAGT</p>
<p>Toulouse, France</p>  
</div>   
        
<div class ="member">
<div class="square"><a href="http://www.iopan.gda.pl/projects/Dwarf/participants-7.html" target="_blank"><img src="{{ "/assets/board-members/Joanna2.jpg" | relative_url }}" alt="Avatar" /></a></div>
<p>Joanna Pawłowska</p>
<p>IOPAN, Sopot, Poland</p>
</div>       
    
<div class ="member">
<div class="square"><a href="https://www.trishaspanbauer.com/" target="_blank"><img src="{{ "/assets/board-members/Trisha.jpg" | relative_url }}" alt="Avatar" /></a></div>
<p>Trisha Spanbauer</p>
<p>Toledo University</p>
<p>Toledo, USA</p>
</div>
         
</div>

<div class="section">
<br> 
<p>To discover our advisory board and read more about the organizing board, click <a href="/category/5-ourboard.html"><b>here</b></a></p>
</div>

<div class="intro">
<h3 class="section-title underline">Our initiatives</h3>
<p> Tools:  We provide tools for members of the society but also for the whole scientific community such as a newsletters, a literature survey on google scholar, researchgate and as up-to-date excell file</p>
<br> 
<p> The <a href="/category/3-code.html" target="_blank"><b>African sedaDNA working group</b></a> was created to encourage African researchers to engage and lead sedaDNA research. We want to provide access to information, technical support and expertise, as well as facilitate exchange of students and researchers between research groups within the sedaDNA scientific society. The ultimate goal of this initiative is to empower African researchers so they can play a central role in African lakes sedaDNA research in the near future.</p>
<br>
<p> The PAGES PaleoEcoGen working group <i>Unlocking the power of ancient environmental DNA to understand past ecological trends</i> aims to exploit emerging ancient eDNA tools to advance our knowledge of critical transitions in Earth’s Quaternary history. To this end, PaleoEcoGen wants to stimulate and enhance international ancient eDNA research by organising topical workshops to discuss new methodologies in the field (including synthetic analyses and modelling approaches), and to coordinate research efforts for bigger picture analyses that, ultimately, will help to inform conservation efforts and future biodiversity assessments.</p>    
</div>
 
